@import url("https://fonts.googleapis.com/css?family=Open+Sans:regular,600&display=swap");
@font-face {
  font-family: "TT Hoves";
  font-weight: 300;
  font-style: normal;
  src: local("TT Hoves Light"), local("TT-Hoves-Light"), url("../fonts/TTHoves-Light/TTHoves-Light.woff2") format("woff2"), url("../fonts/TTHoves-Light/TTHoves-Light.woff") format("woff"), url("../fonts/TTHoves-Light/TTHoves-Light.ttf") format("truetype");
}
@font-face {
  font-family: "TT Hoves";
  font-weight: 400;
  font-style: normal;
  src: local("TT Hoves Regular"), local("TT-Hoves-Regular"), url("../fonts/TTHoves-Regular/TTHoves-Regular.woff2") format("woff2"), url("../fonts/TTHoves-Regular/TTHoves-Regular.woff") format("woff"), url("../fonts/TTHoves-Regular/TTHoves-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "TT Hoves";
  font-weight: 500;
  font-style: normal;
  src: local("TT Hoves Medium"), local("TT-Hoves-Medium"), url("../fonts/TTHoves-Medium/TTHoves-Medium.woff2") format("woff2"), url("../fonts/TTHoves-Medium/TTHoves-Medium.woff") format("woff"), url("../fonts/TTHoves-Medium/TTHoves-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "TT Hoves";
  font-weight: 700;
  font-style: normal;
  src: local("TT Hoves Bold"), local("TT-Hoves-Bold"), url("../fonts/TTHoves-Bold/TTHoves-Bold.woff2") format("woff2"), url("../fonts/TTHoves-Bold/TTHoves-Bold.woff") format("woff"), url("../fonts/TTHoves-Bold/TTHoves-Bold.ttf") format("truetype");
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

button,
input,
textarea {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}
.wrapper main {
  flex-grow: 1;
  padding-top: 7rem;
}
@media (max-width: 48rem) {
  .wrapper main {
    padding-top: 4rem;
  }
}

[class*=__container] {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 0.5rem;
}

body {
  font-family: "TT Hoves", sans-serif;
  font-size: 12px;
  color: #000;
  background-color: #fff;
  scroll-behavior: smooth;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 3;
}
.header__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 6.25rem;
}
@media (max-width: 48rem) {
  .header__container {
    min-height: 3.125rem;
  }
}
.header__logo {
  width: 4.375rem;
  height: 2.5rem;
  margin: 1.875rem 0;
  z-index: 5;
}
.header__logo img {
  max-width: 100%;
}
@media (max-width: 48rem) {
  .header__logo {
    margin: 1rem 0;
    width: 4rem;
    height: 2rem;
  }
}
.header__menu {
  padding: 0 4rem 0 0;
}
@media (max-width: 48rem) {
  .header__menu {
    padding: 0;
  }
}

.menu {
  display: flex;
  align-items: center;
}
.menu__burger-icon {
  display: none;
}
@media (max-width: 48rem) {
  .menu__burger-icon {
    display: block;
    position: relative;
    z-index: 5;
    width: 1.875rem;
    height: 1.25rem;
  }
  .menu__burger-icon::before, .menu__burger-icon::after {
    content: "";
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
  }
  .menu__burger-icon::before {
    top: 0;
    transition: all 0.3s ease;
  }
  .menu__burger-icon::after {
    bottom: 0;
    transition: all 0.3s ease;
  }
  .menu__burger-icon span {
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    transition: all 0.3s ease;
  }
}
.menu__burger-icon.active::before {
  transform: rotate(45deg);
  top: 9px;
}
.menu__burger-icon.active::after {
  transform: rotate(-45deg);
  bottom: 9px;
}
.menu__burger-icon.active span {
  transform: scale(0);
}
.menu__body {
  position: relative;
  z-index: 3;
}
@media (max-width: 48rem) {
  .menu__body {
    position: fixed;
    top: 0;
    right: -100%;
    width: 65%;
    height: 100%;
    background-color: #2C2C2C;
    padding-top: 100px;
    transition: all 0.5s ease;
  }
  .menu__body.active {
    right: 0;
  }
}
.menu__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3.75rem;
  position: relative;
  z-index: 5;
}
@media (max-width: 48rem) {
  .menu__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}
.menu__item {
  padding: 3px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  transition: 0.3s all ease-in-out;
}
.menu__item:hover {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
@media (max-width: 48rem) {
  .menu__item {
    color: #fff;
  }
  .menu__item:hover {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }
}
.menu__link {
  padding: 3px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.menu__link:focus-visible {
  outline: none;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.footer {
  background-color: #2C2C2C;
  color: #fff;
}
.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 3.75rem 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.7;
}
@media (max-width: 48rem) {
  .footer__content {
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    padding: 1rem;
  }
}
@media (max-width: 31.25rem) {
  .footer__content {
    flex-direction: column;
  }
}
@media (max-width: 48rem) {
  .footer__logo {
    text-align: center;
  }
  .footer__logo img {
    height: 4rem;
  }
}
.footer__headers {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 1.625rem;
}
@media (max-width: 31.25rem) {
  .footer__headers {
    padding: 1rem 0;
  }
}
.footer__copyright {
  padding: 24px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  font-family: "Open Sans";
  color: #BDBDBD;
  position: relative;
}
.footer__copyright::before {
  content: "";
  position: absolute;
  left: 0;
  top: 1px;
  width: 100%;
  height: 2px;
  background-color: rgba(70, 70, 70, 0.5);
}
.footer__designed-by {
  padding: 0.5rem;
}

.menu-footer__list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (max-width: 48rem) {
  .menu-footer__list {
    flex-direction: row;
  }
}
.menu-footer__link {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  padding-bottom: 5px;
  transition: 0.3s all ease-in-out;
}
.menu-footer__link:hover {
  color: #BDBDBD;
}
.menu-footer__link:focus, .menu-footer__link:focus-visible {
  outline: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.contacts {
  min-width: 6.25rem;
}
.contacts__list {
  display: flex;
  flex-direction: column;
  gap: 2.125rem;
}
@media (max-width: 62rem) {
  .contacts__list {
    gap: 1rem;
  }
}
.contacts__link {
  display: flex;
  gap: 0.9375rem;
  align-items: center;
  padding: 2px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  width: max-content;
  transition: 0.3s all ease-in-out;
}
.contacts__link:hover {
  color: #BDBDBD;
}
.contacts__link:focus, .contacts__link:focus-visible {
  outline: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.contacts__link:first-child {
  max-width: 20rem;
}
.social {
  padding-right: 1rem;
}
.social__list {
  display: flex;
  gap: 2rem;
}
@media (max-width: 62rem) {
  .social__list {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 48rem) {
  .social__list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.social__link {
  border: 1px solid transparent;
  padding: 0.5rem;
}
.social__link:focus, .social__link:focus-visible {
  outline: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.social__icon {
  transition: all 0.3s ease;
}
.social__icon:hover {
  filter: invert(79%) sepia(100%) saturate(0%) hue-rotate(307deg) brightness(111%) contrast(97%);
}

.social__link:hover .social__icon {
  fill: #BDBDBD;
}

.hero__container {
  width: 100%;
  position: relative;
  display: flex;
}
@media (max-width: 31.25rem) {
  .hero__container {
    flex-direction: column;
  }
}
.hero__content-wrapper {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 4.5rem;
  padding: 1.875rem 0;
  font-size: 2rem;
  color: #E0E0E0;
  font-weight: 300;
}
@media (max-width: 48rem) {
  .hero__content-wrapper {
    margin-bottom: 1rem;
    padding: 1rem 0;
  }
}
@media (max-width: 31.25rem) {
  .hero__content-wrapper {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 0rem;
  }
}
@media (max-width: 31.25rem) {
  .hero__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.content__main-title {
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  .content__main-title {
    font-size: calc(52px + 20.4 * (100vw - 320px) / 1200);
  }
}
@media (min-width: 767px) {
  .content__main-title {
    font-size: calc(52px + 12 * 100vw / 1200);
  }
}
.content__gray-title {
  font-weight: 300;
  color: #BDBDBD;
}
.content__slider-buttons {
  margin: 5.625rem 0;
  display: flex;
  align-items: center;
}
.content__slider-buttons::after {
  content: "";
  background-color: #F2F2F2;
  height: 2px;
  width: 100%;
  display: block;
}
@media (max-width: 31.25rem) {
  .content__slider-buttons {
    margin: 1rem;
  }
}

.nav-button {
  position: relative;
  display: flex;
  align-items: center;
  width: auto;
  border: 1px #F2F2F2 solid;
}
.nav-button:first-child {
  margin-right: 23px;
}
.nav-button__arrow-left {
  transform: rotate(180deg);
  padding: 14px;
}
.nav-button__arrow-right {
  padding: 14px;
  position: relative;
}
.nav-button:hover, .nav-button:active {
  background-color: #F9F9F9;
}
.nav-button:focus, .nav-button:focus-visible {
  outline: none;
  border: 1px solid #C4C4C4;
}

.content__slides-index {
  display: flex;
  align-items: center;
}

.swiper-pagination-current,
.swiper-pagination-total {
  font-size: 24px;
  color: #BDBDBD;
  padding: 0 25px;
}

.content__slides-index .swiper-pagination-fraction {
  display: flex;
  color: #BDBDBD;
  align-items: center;
}

.slides-index__line::after {
  content: "";
  background-color: #E0E0E0;
  height: 2px;
  width: 44px;
  transform: rotate(-45deg);
}

.content-button {
  position: absolute;
  bottom: 0;
  left: 0;
}

.swiper {
  width: 60%;
  height: 50rem;
}
@media (max-width: 48rem) {
  .swiper {
    height: 35rem;
  }
}
@media (max-width: 31.25rem) {
  .swiper {
    width: 100%;
    height: 25rem;
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about {
  margin: 7.5rem 0;
}
@media (max-width: 48rem) {
  .about {
    margin: 3.75rem 0;
  }
}
.about__content {
  position: relative;
  background-color: #FBFBFB;
  display: flex;
  padding: 1.875rem 6.25rem;
  gap: 1.875rem;
}
@media (max-width: 62rem) {
  .about__content {
    flex-direction: column-reverse;
    padding: 1.875rem;
  }
}
@media (max-width: 31.25rem) {
  .about__content {
    padding: 1rem 0;
    gap: 1rem;
  }
}

.content__gallery {
  width: 60%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 16.875rem);
  grid-auto-rows: max-content;
  gap: 1.875rem;
}
@media (max-width: 62rem) {
  .content__gallery {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
  }
}
@media (max-width: 62rem) {
  .content__gallery {
    gap: 0.625rem;
  }
}
.content__text-wrapper {
  width: 40%;
}
@media (max-width: 62rem) {
  .content__text-wrapper {
    width: 100%;
  }
}
.content__text {
  font-weight: 300;
  line-height: 1.7;
  padding: 1.25rem 0;
}
@media (max-width: 767px) {
  .content__text {
    font-size: calc(12px + 6.8 * (100vw - 320px) / 1200);
  }
}
@media (min-width: 767px) {
  .content__text {
    font-size: calc(12px + 4 * 100vw / 1200);
  }
}

.gallery__photo-wrapper {
  background-color: #C4C4C4;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 16.875rem;
  transition: transform 0.3s;
}
.gallery__photo-wrapper:hover {
  transform: scale(1.05);
}
@media (max-width: 62rem) {
  .gallery__photo-wrapper {
    position: relative;
    width: 33.33%;
  }
}

.photo1 {
  height: 16.5rem;
  background-image: url(../img/about1-photo.png);
}
@media (max-width: 62rem) {
  .photo1 {
    height: 9rem;
  }
}

.photo2 {
  height: 21.5rem;
  background-image: url(../img/about2-photo.png);
  grid-row: span 2;
  margin-top: 3.75rem;
}
@media (max-width: 62rem) {
  .photo2 {
    height: 9rem;
    margin-top: 0;
  }
}

.photo3 {
  height: 8.75rem;
  background-image: url(../img/about3-photo.png);
}
@media (max-width: 62rem) {
  .photo3 {
    height: 9rem;
  }
}

.sertificats__title {
  margin-bottom: 1.875rem;
}
@media (max-width: 48rem) {
  .sertificats__title {
    margin-bottom: 0;
  }
}
.sertificats__content {
  display: flex;
  justify-content: space-between;
  gap: 11.25rem;
  padding: 1.875rem;
}
@media (max-width: 62rem) {
  .sertificats__content {
    gap: 2rem;
  }
}
@media (max-width: 48rem) {
  .sertificats__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.875rem 0;
  }
}

.content__wrapper {
  display: flex;
  gap: 1.875rem;
  line-height: 1.64;
  align-items: center;
}
@media (max-width: 31.25rem) {
  .content__wrapper {
    line-height: 1.55;
  }
}
.content__index {
  font-weight: bold;
  font-family: "Open Sans";
  color: #E0E0E0;
}
@media (max-width: 767px) {
  .content__index {
    font-size: calc(50px + 85 * (100vw - 320px) / 1200);
  }
}
@media (min-width: 767px) {
  .content__index {
    font-size: calc(50px + 50 * 100vw / 1200);
  }
}
@media (max-width: 767px) {
  .content__goal {
    font-size: calc(12px + 17 * (100vw - 320px) / 1200);
  }
}
@media (min-width: 767px) {
  .content__goal {
    font-size: calc(12px + 10 * 100vw / 1200);
  }
}

.projects {
  margin: 7.5rem 0;
}
@media (max-width: 48rem) {
  .projects {
    margin: 3.75rem 0;
  }
}
.projects__title {
  margin-bottom: 30px;
}
.projects-gallery__wrapper {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(4, auto);
  gap: 1.875rem;
  margin: 1.875rem 0;
}
@media (max-width: 48rem) {
  .projects-gallery__wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
.projects-gallery__photo-wrapper {
  background-color: #C4C4C4;
  height: 15.9375rem;
  position: relative;
}
@media (max-width: 62rem) {
  .projects-gallery__photo-wrapper {
    height: 13rem;
  }
}
.projects-gallery__photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.projects-gallery__back-shadow {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(52, 52, 52, 0.8);
  color: white;
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.projects-gallery__title {
  font-weight: bold;
  text-transform: uppercase;
  text-wrap: wrap;
}
@media (max-width: 767px) {
  .projects-gallery__title {
    font-size: calc(26px + 47.6 * (100vw - 320px) / 1200);
  }
}
@media (min-width: 767px) {
  .projects-gallery__title {
    font-size: calc(26px + 28 * 100vw / 1200);
  }
}

.projects-gallery__photo-wrapper:hover .projects-gallery__back-shadow {
  height: 100%;
}

.gallery__item1 {
  grid-column: 1/span 2;
}

.gallery__item2 {
  grid-column: 3/span 2;
}

.gallery__item3 {
  grid-column: 1/span 1;
}

.gallery__item4 {
  grid-column: 2/span 2;
}

.gallery__item5 {
  grid-column: 4/span 1;
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
}

.small-title {
  margin-bottom: 1rem;
}
@media (max-width: 767px) {
  .small-title {
    font-size: calc(20px + 34 * (100vw - 320px) / 1200);
  }
}
@media (min-width: 767px) {
  .small-title {
    font-size: calc(20px + 20 * 100vw / 1200);
  }
}
@media (max-width: 31.25rem) and (max-width: 767px) {
  .small-title {
    font-size: calc(26px + 64.6 * (100vw - 320px) / 1200);
  }
}
@media (max-width: 31.25rem) and (min-width: 767px) {
  .small-title {
    font-size: calc(26px + 38 * 100vw / 1200);
  }
}

.contacts__container {
  padding-bottom: 120px;
}
.contacts__title {
  margin-bottom: 20px;
}
.contacts__content {
  display: flex;
  justify-content: space-between;
  gap: 1.875rem;
}
@media (max-width: 48rem) {
  .contacts__content {
    flex-direction: column-reverse;
    gap: 1rem;
  }
}
.contacts__form {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}
@media (max-width: 48rem) {
  .contacts__form {
    width: 100%;
  }
}
.contacts__photo-wrapper {
  width: 60%;
}
@media (max-width: 48rem) {
  .contacts__photo-wrapper {
    width: 100%;
  }
}

.form {
  font-size: 14px;
  letter-spacing: 1px;
}
.form__item {
  position: relative;
}
.form__input {
  height: 46px;
  background-color: #F3F3F3;
  padding: 15px 20px;
  width: 100%;
  border: 1px solid transparent;
}
.form__input:focus, .form__input:focus-visible {
  outline: none;
  border: 1px solid #333333;
}

.message {
  height: 147px;
  font-family: "TT Hoves";
}

.input-checkbox {
  height: 0;
  width: 0;
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.label-checkbox {
  position: relative;
  background-color: transparent;
  color: #333333;
  padding: 10px 0 10px 44px;
  display: flex;
  align-items: baseline;
}
.label-checkbox .input-checkbox:checked + .checkmark::after {
  display: block;
}

.checkmark {
  position: absolute;
  top: 10px;
  left: 0;
  height: 24px;
  width: 24px;
  border-radius: 5px;
  color: #333333;
  background-color: #F3F3F3;
  border: 1px solid transparent;
}
.checkmark::after {
  content: "";
  position: absolute;
  display: none;
  left: 9px;
  top: 5px;
  width: 6px;
  height: 12px;
  border: solid #333333;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.checkmark:focus, .checkmark:focus-within, .checkmark:focus-visible {
  outline: none;
  border: 1px solid #333333;
}

.contacts__photo {
  max-width: 100%;
  height: auto;
}

.placeholder {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  pointer-events: none;
  transition: all 0.3s ease;
  font-size: 14px;
  letter-spacing: 1px;
  color: #8D8D8D;
  display: flex;
  justify-content: center;
}

.input-message {
  top: 15%;
}

.input-tel::after,
.input-mail::after,
.input-message::after {
  content: "*";
  color: #C30000;
}

.hide {
  opacity: 0;
  pointer-events: none;
}

.button__button {
  width: 13.75rem;
  height: 4.375rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all ease 0.3s;
}
.button__button svg {
  fill: currentColor;
  transition: transform 0.2s ease;
}
.button__button:hover {
  background-color: #BDBDBD;
  color: #fff;
}
.button__button:hover svg {
  fill: #fff;
  transform: translateX(0.5rem);
}
.button__button:focus, .button__button:focus-visible {
  outline: none;
  border: 1px solid #000;
}
@media (max-width: 31.25rem) {
  .button__button {
    width: 10rem;
    height: 4rem;
  }
}
@media (max-width: 20rem) {
  .button__button {
    width: 8rem;
    height: 4rem;
    flex-wrap: wrap;
  }
}

.white-button {
  background-color: #fff;
  color: #333333;
}

.button__arrow {
  margin-left: 0.75rem;
}
@media (max-width: 31.25rem) {
  .button__arrow {
    margin-left: 0;
  }
}

.dark-button {
  color: #fff;
  background-color: #333333;
  border: 1px solid transparent;
}
.dark-button:hover {
  color: #000;
}
.dark-button:hover svg {
  fill: currentColor;
}
.dark-button:focus, .dark-button:focus-visible {
  outline: none;
  border: 1px solid #BDBDBD;
}

.projects-gallery__button {
  width: fit-content;
  text-align: left;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 1rem;
  padding: 5px;
  background-color: transparent;
  border-bottom: 1px solid transparent;
  transition: all ease 0.3s;
}
.projects-gallery__button svg {
  fill: currentColor;
  transition: transform 0.2s ease;
}
.projects-gallery__button:hover {
  border-bottom: 1px solid #fff;
}
.projects-gallery__button:hover svg {
  fill: #fff;
  transform: translateX(0.5rem);
}
@media (max-width: 48rem) {
  .projects-gallery__button {
    margin-top: 0;
  }
}

.title {
  font-weight: 300;
  text-transform: capitalize;
  color: #BDBDBD;
}
@media (max-width: 767px) {
  .title {
    font-size: calc(42px + 37.4 * (100vw - 320px) / 1200);
  }
}
@media (min-width: 767px) {
  .title {
    font-size: calc(42px + 22 * 100vw / 1200);
  }
}

/*# sourceMappingURL=style.css.map */
