//Button
.button__button {
    width: 13.75rem;
    height: 4.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 1px solid transparent;
    transition: all ease 0.3s ;
    &:focus,
    &:hover,
    &:focus-visible {
        outline: none;
        border: 1px solid $mainColor;
    }
}
.white-button {
    background-color: $whiteColor;
    color: $mainGrayColor;    
}
.button__arrow,
.white-arrow {
    margin-left: 12px;
}

.dark-button {
    color: $whiteColor;
    background-color: $mainGrayColor;
    border: 1px solid transparent;
    &:focus,
    &:hover {
        background-color: $mainColor;
    }
    &:focus,
    &:focus-visible{
        outline: none;
        border: 1px solid $grayColor;
    }
}

// Title
.title {
    font-size: 64px;
    font-weight: 300;
    text-transform: capitalize;
    color: $grayColor;
}