//Button
.button {
    &__button {
        width: 13.75rem;
        height: 4.375rem;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        letter-spacing: 2px;
        transition: all ease 0.3s;
        svg {
            fill: currentColor;
            transition: transform 0.2s ease;
        }
        &:hover {
          background-color: $grayColor;
          color: $whiteColor;
          svg {
            fill: $whiteColor;
            transform: translateX(0.5rem);
          }
        }
        &:focus,
        &:focus-visible {
            outline: none;
            border: 1px solid $mainColor;
        }
        @media (max-width: $maxMobile) {
            width: 10rem;
            height: 4rem;
        }
    } 
}

.white-button {
    background-color: $whiteColor;
    color: $mainGrayColor;    
}
.button__arrow {
    margin-left: .75rem;
    
}

.dark-button {
    color: $whiteColor;
    background-color: $mainGrayColor;
    border: 1px solid transparent;

    &:hover {
        color: $mainColor;
        svg {
            fill: currentColor;
        }
    }
    &:focus,
    &:focus-visible{
        outline: none;
        border: 1px solid $grayColor;
    }
}

// Title
.title {
    font-size: 4rem;
    font-weight: 300;
    text-transform: capitalize;
    color: $grayColor;
    @media(max-width: $maxMobile) {
        font-size: 3rem;
    }
}