//Button
.button {
    &__button {
        width: 13.75rem;
        height: 4.375rem;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        letter-spacing: 2px;
        transition: all ease 0.3s;
        svg {
            fill: currentColor;
            transition: transform 0.2s ease;
        }
        &:hover {
          background-color: $grayColor;
          color: $whiteColor;
          svg {
            fill: $whiteColor;
            transform: translateX(0.5rem);
          }
        }
        &:focus,
        &:focus-visible {
            outline: none;
            border: 1px solid $mainColor;
        }
        @media (max-width: $maxMobile) {
            width: 10rem;
            height: 4rem;
        }
        @media (max-width: $minMobile) {
            width: 8rem;
            height: 4rem;
            flex-wrap: wrap;
        }
    } 
}

.white-button {
    background-color: $whiteColor;
    color: $mainGrayColor;    
}
.button__arrow {
    margin-left: .75rem;
    @media (max-width: $maxMobile) {
        margin-left: 0;
    }
    
}

.dark-button {
    color: $whiteColor;
    background-color: $mainGrayColor;
    border: 1px solid transparent;

    &:hover {
        color: $mainColor;
        svg {
            fill: currentColor;
        }
    }
    &:focus,
    &:focus-visible{
        outline: none;
        border: 1px solid $grayColor;
    }
}
.projects-gallery {
    &__button{
        width: fit-content;
        text-align: left;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-top: 1rem;
        padding: 5px;
        background-color: transparent;
        border-bottom: 1px solid transparent;
        transition: all ease 0.3s;
        svg {
            fill: currentColor;
            transition: transform 0.2s ease;
        }
        &:hover {
            border-bottom: 1px solid $whiteColor;
            svg {
                fill: $whiteColor;
                transform: translateX(0.5rem);
              }
        }
        @media (max-width: $minTablet) {
            margin-top: 0;
        }
    }
}
// Title
.title {
    @include adaptive-font(64, 42);
    font-weight: 300;
    text-transform: capitalize;
    color: $grayColor;
}