// Contsact us section
.contacts {
    &__container {
        padding-bottom: 120px;
    }
    &__title {
        margin-bottom: 20px;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        gap: 1.875rem;
        @media(max-width: $minTablet) {
            flex-direction: column-reverse;
            gap: 1rem;
        }
    }
    &__form {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 10px;
        @media(max-width: $minTablet) {
            width: 100%;
        }
    }
    &__photo-wrapper{
        width: 60%;
        @media(max-width: $minTablet) {
            width: 100%;
        }
    }
}

.form {
    font-size: 14px;
    letter-spacing: 1px;
    &__item {
        position: relative;
    }
    &__input {
        height: 46px;
        background-color: $lightGrayColor3;
        padding: 15px 20px;
        width: 100%;
        border: 1px solid transparent;
        &:focus,
        &:focus-visible{
            outline: none;
            border: 1px solid $mainGrayColor;
        }
    }
}
.message {
    height: 147px;
    font-family: $mainFontFamily;
}
.input-checkbox {
    height: 0;
    width: 0;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    
}
.label-checkbox {
    position: relative;
    background-color: transparent;
    color: $mainGrayColor;
    padding: 10px 0 10px 44px;
    display: flex;
    align-items: baseline;
    .input-checkbox:checked + .checkmark::after {
        display: block;
    }
}
.checkmark {
    position: absolute;
    top: 10px;
    left: 0;
    height: 24px;
    width: 24px;
    border-radius: 5px;
    color: $mainGrayColor;
    background-color: $lightGrayColor3;
    border: 1px solid transparent;
    &::after {
        content: "";
        position: absolute;
        display: none;
        left: 9px;
        top: 5px;
        width: 6px;
        height: 12px;
        border: solid $mainGrayColor;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }
    &:focus,
    &:focus-within,
    &:focus-visible{
        outline: none;
        border: 1px solid $mainGrayColor;
    }
}
.contacts__photo {
    max-width: 100%;
    height: auto;
}

.placeholder {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: all 0.3s ease;
    font-size: 14px;
    letter-spacing: 1px;
    color: #8D8D8D;
    display: flex;
    justify-content: center;
}
.input-message{
    top: 15%;
}
.input-tel,
.input-mail,
.input-message {
    &::after{
        content: '*';
        color: $redColor;
    }
}
.hide {
    opacity: 0;
    pointer-events: none;
}