// Header
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #ffff;
        z-index: 3;
    }
    &__container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 6.25rem;
        @media (max-width: $minTablet) {
            min-height: 3.125rem;
        }
    }
    &__logo {
        width: 4.375rem;
        height: 2.5rem;
        margin: 1.875rem 0;
        z-index: 5;
        img {
            max-width: 100%;
        }
        @media (max-width: $minTablet) {
            margin: 1rem 0;
            width: 4rem;
            height: 2rem;
        }
    }
    &__menu {
        padding: 0 4rem 0 0;
        @media(max-width: $minTablet) {
            padding: 0;
        }
    }
}

.menu {
    display: flex;
    align-items: center;
    &__burger-icon{
        display: none;
        @media(max-width: $minTablet) {
           display: block;
           position: relative;
           z-index: 5;
           width: 1.875rem;
           height: 1.25rem;
           
           &::before,
           &::after {
            content: '';
            background-color: $mainColor;
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
           }
           &::before{
            top: 0;
            transition: all 0.3s ease;
           }
           &::after{
            bottom: 0;
            transition: all 0.3s ease;
           }
           & span {
            background-color: $mainColor;
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
            top: 9px;
            transition: all 0.3s ease;
           }
        }
        &.active{
            &::before{
                transform: rotate(45deg);
                top: 9px;
            }
            &::after{
                transform: rotate(-45deg);
                bottom: 9px;
            }
            & span{
                transform: scale(0);
            }
        }
    }
    &__body{
        position: relative;
        z-index: 3;
        
        @media(max-width: $minTablet) {
            position: fixed;
            top: 0;
            right: -100%;
            width: 65%;
            height: 100%;
            background-color: $footerBackgrColor;
            padding-top: 100px;
            transition: all 0.5s ease;
            &.active{
                right: 0;
            }
        }
    }
    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 3.75rem;
        position: relative;
        z-index: 5;
        @media (max-width: $minTablet) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
        }
    }
    &__item {
        padding: 3px;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
        transition: 0.3s all ease-in-out;
        &:hover {
            border-top: 1px solid $mainColor;
            border-bottom: 1px solid $mainColor;
        }
        @media (max-width: $minTablet) {
            color: $whiteColor;
            &:hover {
                border-top: 1px solid $whiteColor;
                border-bottom: 1px solid $whiteColor;
            }
        }
    }
    &__link {
        padding: 3px;
        text-transform: uppercase;
        letter-spacing: 2px;
        &:focus-visible {
            outline: none;
            border-top: 1px solid $mainColor;
            border-bottom: 1px solid $mainColor;
        }
    }
}
