// Hero section
.hero {
    &__container {
        width: 100%;
        position: relative;
        display: flex;
    }
    &__content-wrapper {
        width: 40%;
        display: flex;
        flex-direction: column;
    }
    &__content {
        margin-top: 18rem;
    }
}
.content { 
    &__main-title {
        font-size: 4rem;
        font-weight: 700;
        text-transform: uppercase;
    }
    &__gray-title {
        font-weight: 300;
        color: $grayColor;
    }
    &__slider-buttons {
        margin: 90px 0;
        display: flex;
        align-items: center;
        &::after {
            content: '';
            background-color: $lightButtonsColor;
            height: 2px;
            width: 100%;   
            display: block;     
        }
    }
}

.nav-button {
    position: relative; 
    display: flex;
    align-items: center;
    width: auto;
    border: 1px $lightButtonsColor solid;
    &:first-child {
        margin-right: 23px;
    }
    &__arrow-left {
        transform: rotate(180deg);
        padding: 14px;
    }
    &__arrow-right {
        padding: 14px;
        position: relative;
    }
    &:hover,
    &:active {
        background-color: #F9F9F9;
    }
    &:focus,
    &:focus-visible {
        outline: none;
        border: 1px solid $grayColor4;
    }
    
}

.content__slides-index {
    font-size: 24px;
    color: $grayColor;
    display: flex;
    align-items: center;
}
.slides-index__line {
    display: flex;
    padding: 0 25px;
    &::after {
        content: '';
        background-color: $lightGrayColor2;
        height: 2px;
        width: 44px;
        transform: rotate(-45deg);
        
    }
}
.hero__slider {
}
.slider__img-wrapper {
    position: relative;
}
.content-button {
    position: absolute;
    bottom: 0;
    left: 0;
}


// About section
.about {
    margin: 120px 0;
    &__container {
       
    }
    &__content {
        background-color: $lightGrayColor;
        display: flex;
        padding: 0 100px;
    }
}
.content {
    &__gallery {
    }
    &__text-wrapper {
        padding: 30px;
    }
    &__title {
        // padding: 30px;
    }
    &__text {
        font-size: 16px;
        font-weight: 300;
        line-height: 1.7;
        padding: 20px 0;
    }
}
.content__gallery {
    display: grid;
    grid-template-columns: repeat(2, auto); 
    grid-auto-rows: max-content;
    gap: 30px;
}
.gallery__photo-wrapper {
    background-color: $grayColor4;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 270px;
    transition: transform .3s;
    &:hover{
        transform: scale(1.1); 
    }
}
.photo1 {
    height: 270px;
    background-image: url(../img/about1-photo.png);
    margin-top: 30px;
}
.photo2 {
    height: 345px;
    background-image: url(../img/about2-photo.png);
    margin: 60px 0;
    grid-row: span 2;
}
.photo3 {
    height: 140px;
    background-image: url(../img/about3-photo.png);
}


// Sertificats or Main goals section
.sertificats {
    &__container {
    }
    &__title {
        margin-bottom: 60px;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        gap: 180px;
    }
}

.content {
    &__wrapper {
        display: flex;
        gap: 1.875rem;
        // min-width: 400px;
    }
    &__index {
        font-size: 100px;
        font-weight: bold;
        font-family: $OpenSansFontFamily;
        color: $lightGrayColor2;
    }
    &__goal {
        font-size: 22px;
        line-height: 1.6;
    }
}

// Projects section

.projects {
    margin: 120px 0;
    &__container {
        
    }
    &__title {
        margin-bottom: 30px;
    }
    &__gallery {
        
    }
}

.projects-gallery {
    &__wrapper {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(4, auto);
    gap: 1.875rem;
    margin: 30px 0;
    }
    &__photo-wrapper {
        background-color: $grayColor4;
        height: 255px;
    }
    &__shadow {
        background-color: rgba(52, 52, 52, 0.8);
        height: 255px;
        color: white;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    &__title {
        font-size: 64px;
        font-weight: bold;
        text-transform: uppercase;
    }
    &__button {
        background-color: transparent;
        justify-content: flex-start;
    }
}
.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 
}
.gallery__item1 {
    grid-column: 1 / span 2;
    background: center / cover  no-repeat url("../img/projects1-photo.png");
}
.gallery__item2 {
    grid-column: 3 / span 2;
    background: center / cover  no-repeat url("../img/projects2-photo.png");
}
.gallery__item3 {
    grid-column: 1 / span 1;
    background: center / cover  no-repeat url("../img/projects3-photo.png");
}
.gallery__item4 {
    grid-column: 2 / span 2;
    background: center / cover  no-repeat url("../img/projects4-photo.png");
}
.gallery__item5 {
    grid-column: 4 / span 1;
    background: center / cover  no-repeat url("../img/projects5-photo.png");
}
.button-wrapper {
    display: flex;
    justify-content: flex-end;
}

// Contsact us section
.contacts {
    &__container {
        padding-bottom: 120px;
    }
    &__title {
        margin-bottom: 20px;
    }
    &__content {
        display: flex;
        justify-content: space-between;
        gap: 1.875rem;
    }
    &__form {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 10px;
    }
    &__photo-wrapper{
        width: 60%;
    }
}

.form {
    font-size: 14px;
    letter-spacing: 1px;
    &__item {
        
    }
    &__input {
        position: relative;
        height: 46px;
        background-color: $lightGrayColor3;
        padding: 15px 20px;
        width: 100%;
        border: 1px solid transparent;
        &::placeholder {
            font-size: 14px;
            letter-spacing: 1px;
            color: #8D8D8D;
            text-align: left;
        }
        &:focus,
        &:focus-visible{
            outline: none;
            border: 1px solid $mainGrayColor;
        }
    }
}

.input-name {
}
.input-tel {
}
.input-mail {
}
.input-product {
}
.input-message {
    height: 147px;
    
    &::placeholder {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }
}
 
.input-checkbox {
    height: 0;
    width: 0;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    
}

.label-checkbox {
    position: relative;
    background-color: transparent;
    color: $mainGrayColor;
    padding: 10px 0 10px 44px;
    display: flex;
    align-items: baseline;
    .input-checkbox:checked + .checkmark::after {
        display: block;
    }
    
}

.checkmark {
    position: absolute;
    top: 10px;
    left: 0;
    height: 24px;
    width: 24px;
    border-radius: 5px;
    color: $mainGrayColor;
    background-color: $lightGrayColor3;
    border: 1px solid transparent;
    &::after {
        content: "";
        position: absolute;
        display: none;
        left: 9px;
        top: 5px;
        width: 6px;
        height: 12px;
        border: solid $mainGrayColor;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }
    &:focus,
    &:focus-visible{
        outline: none;
        border: 1px solid $mainGrayColor;
    }
}
.contacts__photo {
    max-width: 100%;
    height: auto;
}
