//Fonts
$mainFontFamily: "TT Hoves";
$OpenSansFontFamily: "Open Sans";
$fontSize: 12px;
$mainColor: #000;
$backgrColor: #fff;
$footerBackgrColor: #2C2C2C;
$buttonColor: #333333;
$indexColor: #BDBDBD;
$aboutBckgrColor: #FBFBFB;