//Fonts
$mainFontFamily: "TT Hoves";
$OpenSansFontFamily: "Open Sans";
$fontSize: 12px;
$colorBlack: #000;
$colorWhite: #fff;
$footerBackgrColor: #2C2C2C;
$buttonColor: #333333;
$indexColor: #BDBDBD;
$aboutBckgrColor: #FBFBFB;