//Fonts
$mainFontFamily: "TT Hoves";
$OpenSansFontFamily: "Open Sans";
$fontSize: 12px;

// Colors
$mainColor: #000;
$whiteColor: #fff;
$footerBackgrColor: #2C2C2C;
$mainGrayColor: #333333;
$grayColor: #BDBDBD;

$lightGrayColor: #FBFBFB;
$lightGrayColor2: #E0E0E0;
$lightGrayColor3: #F3F3F3;
$grayColor4:#C4C4C4;

$lightButtonsColor:#F2F2F2;

$redColor:#C30000;

// Addaptive
$minMobile: 20rem;
$mobile: 26.5rem;
$maxMobile: 31.25rem;
$minTablet: 48rem;
$maxTablet: 62rem;

$maxWidth: 1200;
$maxWidthContainer: 1200;


